extends layout

block content
  div.section
    div.header
      h1 Tasks
    div#accordion
      h3 Health
      div
        ul
          li List item one
          li List item two
          li List item three
      h3 Wealth
      div
        ul
          li List item one
          li List item two
          li List item three
      h3 Soul
      div
        ul
          li List item one
          li List item two
          li List item three

  div.section
    div.header
      h1 Daily Plan
