extends layout

block content
  div.section#tasks
    div.header
      h1 Tasks
    div#accordion.catalog
      h3 Health
      div
        ul
          li List item one
          li List item two
          li List item three
      h3 Wealth
      div
        ul
          li List item one
          li List item two
          li List item three
      h3 Soul
      div
        ul
          li List item one
          li List item two
          li List item three

  div.section#plan
    div.header
      h1 Daily Plan
      .ui-widget-content
        ol
          li.placeholder Add your tasks here
